<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>

  <meta name="description" content="{{ meta-title }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:type" content="article">
  <meta property="og:description" content="{{ meta-title }}">
  <meta property="og:url" content="https://jamesmonk.me">
  <meta property="og:image" content="https://jamesmonk.me/img/favicon.svg">

  <link rel="shortcut icon" href="/img/favicon.svg" type="image/svg+xml" />
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>

